<!doctype html>
<html>
<head>
    <title>Sentimixx Profile</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-music"></span> Welcome Sentinent</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        
<section class="mainProfile">

<div class="createNew">
  <h3>Create A New Mix</h3>
  <a href="/record">
  <button>Create A Playlist</button>
  </a>
</div>

<div class="savedLists">
  <h3>Saved Playlists</h3>

  <ul class="messages">
    <% for(var i=0; i<savedList.length; i++) {%>
      <li class="audio">
     
        <a href="/player/<%= savedList[i]._id %>">
          <button><%= savedList[i].playlistname %> 
            
            
          </button>
          </a>


      </li>
    <% } %>

    </ul>
</div>



</section>


       

</div>

<div class="casslogo">
  <img class="animate__animated animate__fadeInRightBig" src="/assets/casslogo.svg" width="450px" height="450px" alt="">
</div>


<script src="main.js"></script>

</body>
</html>
